html{
	background-color: #007070;
}
body{
	background-color: #004080;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 0px;
}
body>h1{
	background-color: #FF0050;
	border-style: solid;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 30px;
}
body>p1{
	background-color: #01CBDF;
	margin-left: 20px;
	margin-right: 20px;
}
body>p2{
	background-color: white;
	margin-left: 20px;
	margin-right: 20px;
}
body>nav>ul>li>a{
	color: #FF0050;
}